services:
  mariadb:
    image: mdb:inc42
    build:
      context: requirements/mariadb/
      dockerfile: Dockerfile
    container_name: mdb_cont
    volumes:
      - mdb_data:/var/lib/mysql
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER_NAME: ${DB_USER_NAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
    networks:
      - inc_net
    restart: unless-stopped
    healthcheck:
      # test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      test: ["CMD-SHELL", "netstat -tuln | grep :${DB_PORT}"]
      interval: 10s
      timeout: 5s
      retries: 3
    secrets:
      - db_user_pw

  wordpress:
    image: wp:inc42
    build:
      context: requirements/wordpress/
      dockerfile: Dockerfile
    container_name: wp_cont
    volumes:
      - wp_data:/var/www/html
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
      DB_NAME: ${DB_NAME}
      DB_USER_NAME: ${DB_USER_NAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      WP_TITLE: ${WP_TITLE}
      WP_MAD_USER: ${WP_MAD_USER}
      WP_MAD_EMAIL: ${WP_MAD_EMAIL}
      WP_PORT: ${WP_PORT}
      WP_USER: ${WP_USER}
      WP_USER_EMAIL: ${WP_USER_EMAIL}
    networks:
      - inc_net
    depends_on:
      mariadb:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "netstat -tnlp | grep :${WP_PORT}"]
      #test: ["CMD-SHELL", "wp core is-installed --allow-root --path=/var/www/html > /dev/null 2>&1 || exit 1"]
      interval: 5s
      timeout: 2s
      retries: 3
    secrets:
      - db_user_pw
      - wp_mad_pw
      - wp_user_pw

  nginx:
    image: nginx:inc42
    build:
      context: requirements/nginx/
      dockerfile: Dockerfile
    container_name: nginx_cont
    volumes:
      - wp_data:/var/www/html
    environment:
      DOMAIN_NAME: ${DOMAIN_NAME}
      WP_PORT: ${WP_PORT}
    networks:
      - inc_net
    depends_on:
      wordpress:
        condition: service_healthy
      mariadb:
        condition: service_healthy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    healthcheck:
      # test: ["CMD", "curl", "-kfI", "https://localhost:443"]
      test: ["CMD-SHELL", "netstat -tuln | grep :443"]
      interval: 3s
      timeout: 2s
      retries: 3

  staticpage:
    profiles: ["bonus"]
    image: staticpage:inc42
    build:
      context: bonus/static_page
      dockerfile: Dockerfile
    container_name: staticp_cont
    volumes:
      - wp_data:/var/www/html
    networks:
      - inc_net
    restart: "no"

  redis:
    profiles: ["bonus"]
    image: redis:inc42
    build:
      context: bonus/redis
      dockerfile: Dockerfile
    container_name: redis_cont
    volumes:
    - redis_data:/data
    networks:
      - inc_net
    depends_on:
      wordpress:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      # test: ["CMD", "redis-cli", "ping"]
      test: ["CMD-SHELL", "netstat -tuln | grep :6379"]
      interval: 5s
      timeout: 2s
      retries: 3

  adminer:
    profiles: ["bonus"]
    image: adminer:inc42
    build:
      context: bonus/adminer
      dockerfile: Dockerfile
    container_name: adminer_cont
    networks:
      - inc_net
    restart: unless-stopped
    depends_on:
      mariadb:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "netstat -tuln | grep :8080"]
      interval: 10s
      timeout: 5s
      retries: 3

  vsftpd:
    profiles: ["bonus"]
    image: vsftpd:inc42
    build:
      context: bonus/vsftpd
      dockerfile: Dockerfile
    container_name: vsftpd_cont
    ports:
      - "21:21"
      - "21000-21010:21000-21010"
    volumes:
      - wp_data:/home/${FTP_USER}/wordpress
    networks:
      - inc_net
    environment:
      FTP_USER: ${FTP_USER}
    secrets:
      - ftp_pw
    restart: unless-stopped
    depends_on:
      wordpress:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "netstat -tuln | grep :21"]
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  mdb_data:
    name: mdb_vol
    driver: local
  wp_data:
    name: wp_vol
    driver: local
  redis_data:
    name: redis_vol
    driver: local

networks:
  inc_net:
    name: inc_net
    driver: bridge

secrets:
  db_user_pw:
    file: ${DB_USER_PW}
  wp_mad_pw:
    file: ${WP_MAD_PW}
  wp_user_pw:
    file: ${WP_USER_PW}
  ftp_pw:
    file: ${FTP_PW}