
services:
  mariadb:
    image: mdb:inc42
    build:
      context: requirements/mariadb/
      dockerfile: Dockerfile
    container_name: mdb_cont
    volumes:
      - mdb_data:/var/lib/mysql
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER_NAME: ${DB_USER_NAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
    networks:
      - inception
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "mariadb-admin", "ping", "-h", "localhost"]
      interval: 20s
      timeout: 5s
      retries: 3
    secrets:
      - db_user_pw

  wordpress:
    image: wp:inc42
    build:
      context: requirements/wordpress/
      dockerfile: Dockerfile
    container_name: wp_cont
    volumes:
      - wp_data:/var/www/html
    environment:
      DB_NAME: ${DB_NAME}
      DB_USER_NAME: ${DB_USER_NAME}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      WP_TITLE: ${WP_TITLE}
      WP_ADM_USER: ${WP_ADM_USER}
      WP_ADM_EMAIL: ${WP_ADM_EMAIL}
      WP_PORT: ${WP_PORT}
      WP_USER: ${WP_USER}
      WP_USER_EMAIL: ${WP_USER_EMAIL}
    networks:
      - inception
    depends_on:
      mariadb:
        condition: service_healthy
    restart: unless-stopped
    healthcheck:
      #test: ["CMD-SHELL", "netstat -tnlp | grep :${WP_PORT} || exit 1"]
      #test: ["CMD-SHELL", "test -S /run/php-fpm.sock || exit 1"]
      test: ["CMD-SHELL", "wp core is-installed --allow-root --path=/var/www/html > /dev/null 2>&1 || exit 1"]
      interval: 20s
      timeout: 5s
      retries: 3
    secrets:
      - db_user_pw
      - wp_adm_pw
      - wp_user_pw

  nginx:
    image: nginx:inc42
    build:
      context: requirements/nginx/
      dockerfile: Dockerfile
    container_name: nginx_cont
    volumes:
      - wp_data:/var/www/html
    environment:
      WP_PORT: ${WP_PORT}
    networks:
      - inception
    depends_on:
      wordpress:
        condition: service_healthy
      mariadb:
        condition: service_healthy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    healthcheck:
      test: ["CMD", "curl", "-kfI", "https://localhost:443"]
      interval: 20s
      timeout: 5s
      retries: 3

volumes:
  mdb_data:
    driver: local
  wp_data:
    driver: local

networks:
  inception:
    driver: bridge

secrets:
  db_user_pw:
    file: ../secrets/db_user_pw
  wp_adm_pw:
    file: ../secrets/wp_adm_pw
  wp_user_pw:
    file: ../secrets/wp_user_pw