[mariadbd]
# Configuration, with the user that executes mariadbd, the mariadb PID and the connection socket
user					= mysql
pid-file				= /run/mysqld/mysqld.pid
socket					= /run/mysqld/mysqld.sock

# MariaDB's installation directory and MariaDB's storage directory
basedir					= /usr
datadir					= /var/lib/mysql

# Accept connections from every interface (IP)
bind-address			= 0.0.0.0

# Configure what character-encoding is accepted (utf8 +) and what sorting rules are applied to characters
character-set-server	= utf8mb4
collation-server		= utf8mb4_unicode_ci
